<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>327704783639-1qlg7ev0mniga4t928ffrpgsglj5i9co.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327704783639-1qlg7ev0mniga4t928ffrpgsglj5i9co</string>
	<key>API_KEY</key>
	<string>AIzaSyAPXTYjAUCzuyRDYQgGRy9bCqfU2qNuSZw</string>
	<key>GCM_SENDER_ID</key>
	<string>327704783639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FoodTracker</string>
	<key>PROJECT_ID</key>
	<string>foodtracker-database</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtracker-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327704783639:ios:28220674227ffad0</string>
	<key>DATABASE_URL</key>
	<string>https://foodtracker-database.firebaseio.com</string>
</dict>
</plist>